<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ order.title|truncatechars:10 }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body class="container">
    <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
    <div style="margin-top: 10px">
        <div class="card">
            <div class="card-body" style="padding-bottom: 10px; padding-top: 10px">
                <p style="font-size: 14px">Author: {{ order.owner.username }}</p>
                <h5 class="card-title" style="font-size: 27px">{{ order.title }}</h5>
                <p class="card-text">{{ order.text }}
                </p>
                <em style="font-size: 12px">Created at: {{ order.created }}
                    {% if order.owner == user %}
                        <a href="{% url 'update' order.id %}" style="right: 0"><button type="button" class="btn btn-primary">Update</button></a>
                        <a href="{% url 'delete' order.id %}" style="right: 0"><button type="button" class="btn btn-danger">Delete</button></a>
                    {% endif %}
                </em>
            </div>
        </div>
    </div>


</body>
</html>